[2011-10-27 06:37] rgoraya opened #1 "Fix the Asynchronous calls problem"
While accepting suggestions, sometimes the MediaWiki API takes more time to provide the Wikipedia Description and the Image and the accept form is submitted with Empty values - and therefore the suggestion is not accepted. Presently we are dealing with this problem by asking users to wait for a second or two before clicking the accept button after hovering the mouse onto the accept button (and let

[2011-10-27 17:33] bravelittlescientist opened #2 "Website locks out user after deleting issue, doesn't log off"
To replicate:
1. Delete an issue
2. Wait for "Delete" notification to clear
3. Navigate to homepage or other part of site
4. Locked out.

Discovered by Dinorah + Eugenia + Shibani

[2011-10-27 17:36] bravelittlescientist opened #3 "Website locks out user after deleting relationship, doesn't log off"
To replicate:
1. Delete a relationship (casual/inhibitory)
2. Wait for "Delete" notification to clear
3. Navigate to homepage or other part of site
4. Locked out.

Discovered by Dinorah + Eugenia + Shibani

[2011-10-27 18:04] bravelittlescientist opened #4 ""Suggestions" label in causes/inhibitors is confusing"
"Suggestion" implies that a user would be submitting / commenting on website - like it should be an input box. Because what we're inputting is suggestions, it's unclear whether it's computer generated or user generated. Some issues have lots of suggestions, other issues have none, which is also confusing. Why would a user add a suggestion if they could add a link instead?

Suggestions by system sh

[2011-10-31 20:12] DinorahCr opened #5 "Creating an already existing issue"
When you try to create an issue that already exists in the database and error message would appear at the moment of saving. We can optimize the user experience by also providing them with the information about said issue instead of just an error message. The system does not have to create an issue in these cases, just display the already existing information.

To Replicate: Click create new issue,

[2011-10-31 20:14] DinorahCr opened #6 "Linking a non-existing effect to an issue"
When you trying to link an effect that has not been created  to an issue the system will just appear to be loading but will not create the link nor notify you that it cannot be done. It would be useful if it will display an error message saying something along the lines of ”The effect you are trying to link does not exist” and then provide you with the option to create it at the moment.

To Replic

[2011-10-31 20:17] DinorahCr opened #7 "Repeated References"
Within an issue, if an user adds a reference to a causality/issue and someone had already added that reference, even if its linked to another causality, the system would show the link twice. The system should be able to recognize if two references are the same and only show it once.

To Replicate:
1. Go to an existing issue
2. Check under ”References” and add one of the references to another casua

[2011-11-02 21:11] bravelittlescientist opened #8 "Poorly disambiguated issues from Wikipedia are parsed incorrectly"
Some issues with identical names on Wikipedia have no disambiguation indication, and our system does not allow us to choose the meaning.

To replicate:
1. Click "Add new issue"
2. Type "Insecticide"
3. Click "Preview"
4. Nirvana album appears

[2011-11-02 21:14] bravelittlescientist commented on #2
Also, in at least one case the issue is not deleted after unlocking the site.

[2011-11-02 21:47] panb opened #9 "Nothing could be deleted"
It shows the term is deleted, then it logs me out. The term is still there after I log back in.

[2011-11-02 22:05] duyetln commented on #8
Did you mean 'insecticide' or incesticide? There's an entry created on the system with the name 'incesticide'. Probably you mixed up the two.

[2011-11-02 22:07] duyetln commented on #9
That is the expected behavior. Since we don't release the system to the public yet, we still need to use the lock. By default, the lock will not allow any deletions. Please also tell other members about this.

[2011-11-02 22:22] #8 closed, assigned to nobody

[2011-11-05 01:10] bravelittlescientist commented on #8
I think you're right :).

[2011-11-05 01:23] dLobatog commented on #9
Close the issue then Nguyen

[2011-11-05 06:14] #9 closed, assigned to nobody

[2011-11-05 06:20] duyetln commented on #8
Typo. It happens to everyone :)

[2011-11-05 06:25] duyetln commented on #3
Because we're using the lock, it does not allow any deletions by default.  Once we remove the lock, the problem will go away. This behavior is expected.

[2011-11-05 06:27] duyetln commented on #2
Same reason with the 'deleting issue' problem.

[2011-11-05 06:27] #2 closed, assigned to nobody

[2011-11-05 06:28] bravelittlescientist commented on #3
I think this needs to be reopened. It is a bug and a problem until the lock is removed, because it is unexpected behavior on the user side.

[2011-11-05 06:39] duyetln commented on #6
Could you elaborate more on this problem? This seems to be a really strange bug to me. The system should be able to create a new effect anytime that effect is not already in the system.
I did try to replicate the problem and I found that once in a while the loading time is a bit slow (but in the end the effect _is_ created). Perhaps this confuses the user into thinking the system fails?

[2011-11-05 06:42] duyetln commented on #3
Ok, I'll leave this one open so that everyone knows about it.

[2011-11-06 02:10] DinorahCr commented on #6
I concur, it seems to work fine. I assume this is because by the time I reported this issue the system did not allow you to link issues that had not been previously created. Now, the system can create a non-existent issue while linking making this bug obsolete.

[2011-11-07 20:34] slykhous opened #11 "Unable to Add Issue"
The issue methane has a Wikipedia article, but it cannot be added.

[2011-11-07 20:38] slykhous opened #12 "Alphabetical not revelent Suggestions"
When adding an issue the suggestions are only based on the beginnings of words. If you type in plankton, it will not show photo-plankton, but will only show suggestions beginning in plankton.

[2011-11-10 22:16] DinorahCr opened #13 "Unable to access "My Issues""
When one clicks "My Issues" to browse his/her issues, and error message is displayed: "We're sorry, but something went wrong. We've been notified about this issue and we'll take a look at it shortly".

Replicate:
1. Go to thiscausesthat.org
2. Play around with the website
3. Try to access your user account by clicking "My Issues"
4. Error message will appear

[2011-11-10 22:18] DinorahCr commented on #11
It also happens with "Chordata", it says the term "could not be found". (Submitted by panb)

[2011-11-10 22:20] DinorahCr opened #14 "Adding subset/superset"
Every time you enter a super-set or subset, the website auto-directs you back to the page with causes and effects. This affects the user experience and interaction because It makes it tedious to continuously click back to the page when adding multiple subsets or super-sets. It can discourage people from adding content.

[2011-11-11 01:19] duyetln commented on #11
Fixed. The reason is not because the system can't find the article but because sometimes a Wikipedia article is formatted slightly different, which causes the parsing to fail. So 'Chordata' and 'Methane' can be added now.

[2011-11-11 01:19] #11 closed, assigned to nobody

[2011-11-15 01:11] DinorahCr opened #15 "Duplicated Suggestions"
Some suggestions of the same type are duplicated. For example, for issue "Global warming" (id is 4), "Developing country" (suggestion id 1833 and 1832) is being suggested twice as an type "R" suggestion. Both suggestions are already rejected by a user. Its unclear whether the duplication is an intended behaviour.

[2011-11-15 01:13] DinorahCr opened #16 "Continuos Searching"
When trying to add "blossom end rot" as a type of plant disease, it was found that the system continuously searches for the term. It neither found nor confirmed a lack of the term. The term was suggested as I typed it in; however the Wikipedia article is Calcium deficiency (plant disorder).

[2011-11-15 02:09] DinorahCr opened #17 "URL Listed as a Title"
When going through suggestions on subsets and supersets for deforestation an auto generated suggestion had a url listed as its title.

[2011-11-15 02:09] DinorahCr opened #18 "Issues cannot be listed as both caused and reduced by another issue"
Issues cannot be linked as both caused and reduced by another issue. There are issues that in the long run and short run have different effects and need to be listed as such.

[2011-11-15 23:35] duyetln commented on #18
This is a desired behavior. For now, an issue can be in only one type relationship with another issue. Whether this is correct or not from the environmental perspective, I don't know. The environmental team should discuss this matter with professor Tomlinson.

[2011-11-15 23:35] #18 closed, assigned to nobody

[2011-11-16 00:30] #15 closed, assigned to nobody

[2011-11-16 00:30] duyetln commented on #15
It was a mistake. They are two completely different issues.

[2011-11-16 19:28] ghost opened #19 "Error Message while trying to create new issue"
Whenever I try to create a new issue that isn't already in the system, I get this error message...

We're sorry, but something went wrong.

We've been notified about this issue and we'll take a look at it shortly.

[2011-11-16 19:36] ghost opened #20 "Reputation Points not adding up"
I don't think the reputation points are adding up because every time I add a new issue or create a connection, it says +0 on the my issues page.

[2011-11-17 02:31] duyetln commented on #19
The reason for the error is that we temporarily ran out of space, so saving a new issue fails, which gives the error message. It's fixed now.

[2011-11-17 02:31] #19 closed, assigned to nobody

[2011-11-17 08:11] DinorahCr opened #21 "Feature Request - Suggestions"
If there are multiple lines of suggestions and you reject or accept one of them, the system will bring you back to the top line of the suggestions. For a better user experience, it would be best if after accepting/rejecting the system did not alter your position. I found it tedious to have to continuously scroll down or up every time in order to go back to where I was.

[2011-11-17 21:47] DinorahCr commented on #5
This is now fixed.

[2011-11-17 21:47] #5 closed, assigned to nobody

[2011-11-17 21:49] DinorahCr commented on #6
The systems creates the issue and adds it to the database. Fixed!

[2011-11-17 21:49] #6 closed, assigned to nobody

[2011-11-17 22:00] DinorahCr commented on #14
It also happens when you reject/add suggestions

[2011-11-17 22:04] DinorahCr opened #22 "Unable to delete references"
If an user adds a reference and later on wishes to remove it, the system doesn't provide you with this option. There should be a button where one can also delete/remove references.

[2011-11-23 23:57] DinorahCr opened #23 "Wrong Picture"
The issue "cure" has a picture of the band and not a picture of anything medical related.

[2011-11-29 03:56] DinorahCr commented on #23
"Sirenia" also has the wrong picture

[2011-11-30 20:10] DinorahCr opened #24 "Missing URL"
Birds cannot be added as a subset of animals. After multiple tries each time it says the URL is missing

[2011-11-30 20:17] DinorahCr opened #25 "Missing Picture"
The issue wildfires picture has gone missing. When the issue was added, it had an appropriate picture. Now it has the gray folder indicating no picture. It has also been occurring with more issues as well.

[2011-12-04 10:27] dLobatog commented on #4
I would say that a good way to tackle this problem would be to rename "Suggestions" by "Computer-generated suggestions" to improve clarity.
Users cannot add suggestions as of now, they just can add "user accepted" causes/effects, or accept/reject a suggestion, am I right?

[2011-12-04 10:30] dLobatog commented on #17
Weird... I rejected it but it was something of the type "//wikitionary.org ..." . If you find any other suggestion like that comment in this thread.

[2011-12-06 00:05] #20 closed, assigned to nobody

[2011-12-06 00:33] duyetln commented on #17
It is because the system assumes that most URLs within any paragraph of any article have the form href="/wiki/article_name". Base on this assumption, most of the retrieved name for the suggestions will be correct. However, once in a while, some URL is exceptional, which makes the parsing fails and produces weird titles like the one above.

[2011-12-06 00:33] #17 closed, assigned to nobody

[2011-12-06 00:39] duyetln commented on #24
I'm not sure what causes this but Ant can be added now.

[2011-12-06 00:40] duyetln commented on #24
Sometimes retrieving information from different pages can be unstable.

[2011-12-06 00:42] duyetln commented on #13
It is fixed now. The user page will be accessible again in the next version.

[2011-12-06 00:42] #13 closed, assigned to nobody

[2011-12-06 00:48] duyetln commented on #17
I also tweaked the code a little bit to improve the chance of getting the "right" title.

[2011-12-08 00:42] DinorahCr opened #28 "Failing to add space"
When you go to this page: http://www.thiscausesthat.org/issues/1909-dinosaur, in the text box that contains the wikipedia description preview as well as on the issues list, the text displays "&nbsp;" rather than just adding the space, as it should.

"Dinosaur"

[2011-12-11 22:41] ghost opened #29 "Deleting Issue"
1. Delete Causal Issue.
2. Site reports that the causal link was deleted.
3. Click on issues.
4. Site locks you out.

[2012-01-10 03:48] dLobatog commented on #1
Could you point out the sections of the code that may be involved on this? Thanks for noticing the bug, I was trying to add some issues and had this very same problem but had no idea about what was the problem.

From what I've read it looks like get_suggestions in suggestions.rb model is the main responsible, and maybe we can do something with create in suggestions controller but so far I don't ha

[2012-01-10 05:58] rgoraya commented on #1
Hi Daniel,

thanks for the note.

While improving the suggestions model is still important, we might be doing
away with the API call getting the suggestion content.

The approach that you suggested (waiting for the API to get data before
user is allowed to accept it) is what I too thought as a potential solution
but with the new requirements in mind we might not be needing to do that.

Look forwar

[2012-01-14 00:22] dLobatog commented on #29
That's still around as of today... is anybody working on this?

[2012-02-06 08:59] duyetln opened #31 "Some bugs from recent deployment"
1. Page 2 of user rgoraya's activity log fails to load (which causes an exception)
2. Reputation does not work when a user adds a separated new issue

[2012-02-07 01:25] dLobatog commented on #31
1. No suggestions are pulled anymore

[2012-02-07 07:35] rgoraya commented on #31
Daniel, the recent deployment did not require any changes (other than the js respond_to's for the AJAX calls) in the issue 'create' action. So if something went down it was probably while doing the merge. It should just be a matter of comparing the code on the repo with your local code (where the suggestions are being retrieved successfully)

[2012-02-07 20:17] duyetln opened #32 "Relationship is not being added"
"Precipitation (meteorology)"  can't be added under "Climate Change" reduces

[2012-02-08 10:36] rgoraya commented on #32
Duyet, What exact error are you getting?
Or does this happen because Media wiki data is not fetched for this?

[2012-02-08 12:38] rgoraya opened #33 "Problem parsing Titles containing brackets ()"
Adding Issue with Wikipedia title containing brackets encounters error when Media wiki call is made to retrieve the content:
For example if we attempt to add an issue named "Defender (association football)", we get the following error in javaScript.
- Uncaught Error: Syntax error, unrecognized expression: (association football)

Duplicate report: _Trying to create the issue uplift (geology), I fou

[2012-02-08 16:06] duyetln commented on #32
I don't know how the error occurred. This is a bug report submitted by a user.

[2012-02-08 16:06] duyetln commented on #33
I'll see if I can fix it.

[2012-02-08 16:17] rgoraya commented on #33
Thanks !

Sent from my iPod

On Feb 8, 2012, at 8:06 AM, nguyendlreply@reply.github.com wrote:

[2012-02-08 16:18] rgoraya commented on #32
I think it should be fixed with my code change yesterday.

Sent from my iPod

On Feb 8, 2012, at 8:06 AM, nguyendlreply@reply.github.com wrote:

[2012-02-09 02:28] rgoraya commented on #29
Fixed.

[2012-02-09 02:28] #29 closed, assigned to nobody

[2012-02-09 02:31] rgoraya commented on #28
Description has been made Html_safe. Closing this

[2012-02-09 02:31] #28 closed, assigned to nobody

[2012-02-09 03:00] rgoraya commented on #21
Closing this as the new layout would handle suggestions differently.

[2012-02-09 03:00] #21 closed, assigned to nobody

[2012-02-09 03:00] #1 closed, assigned to rgoraya

[2012-02-09 03:01] rgoraya commented on #3
Fixed. Closing this.

[2012-02-09 03:01] #3 closed, assigned to nobody

[2012-02-09 03:03] dLobatog commented on #29
Great job!

[2012-02-09 23:53] rgoraya opened #34 "DELETE functionality bug - Duplicate reported by Rene Slykhous:"
- The Issue Deletion (On the Issue Index page) correctly deletes the Issue. But it encounters problems on reloading partial.
- Deleting a relationship deletes the Issue!!

Working on this! If anyone has any ideas, please let me know.

[2012-02-13 06:22] rgoraya commented on #32
Duplicate reported by Rene Slykhous:
_Trying to create the issue uplift (geology), I found the search ended without any results or error message. See below._

[2012-02-13 06:24] rgoraya commented on #34
Duplicate reported by Rene Slykhous:
_When deleting a relationship, the main issue is often deleted as well. When I am on a page of Climate and looking at its subsets, if I click savanna and try to delete the relationship, the relationship and the issue of climate will both be deleted._

[2012-02-13 06:27] rgoraya opened #35 "Show page renders default (is caused by) partial when any relationship type is added"
Currently, when an issue is added successfully under a category, the page refreshes you to the caused by tab.  This makes adding issues take a lot longer and makes it easy to add an issue to the wrong category. Sometimes, the box that appears to tell you an issue is added successfully fails to have text in it. See image below.

[2012-02-13 07:46] rgoraya commented on #32
possible duplicate of #33?

[2012-02-13 20:28] rgoraya opened #36 "Auto_complete_search reloads the issues partial too!"
The auto_complete search on the Navigation bar reloads the issues partial too (on every key-up in the search field).
- This is happening because the form being used _currently points to the index action_.
- The resolution would be to _create a custom controller action in issues controller_ that handles this
- Have the _routes_ set up accordingly
- Handle partial reload for input received from this

[2012-02-13 20:32] rgoraya opened #37 "Unable to add the same issue as a causer and a reducer"
Unable to add the same issue as a causer and a reducer.
As reported by Rene Slykhous: _I tried adding plate tectonic movement in causes and reduces for the two issues “greenhouse earth” and “ice house earth”. It would not add and displayed the error message_.

[2012-02-13 20:37] rgoraya commented on #37
##### Reason why this was happening:
- Since when we started, we only had two types of relationships (causes and effects), the validation in _relationship_ model was only checking the uniqueness of _issue_id_ and _cause_id_ combination.
- Therefore, the recently added _relationship_type_ was being ignored.

##### Fix:
- Included _relationship_type_ to the scope of uniqueness. In other words now th

[2012-02-13 20:43] rgoraya opened #38 "When adding a particular relationship_type, the system adds it as a different type instead"
#### As reported by Rene Slykhous:

_Trying to add clathrate compounds as a superset of methane clathrate, I found it added as an effect_

[2012-02-13 20:45] rgoraya commented on #38
##### Reason
- With the new layout, the Add New Modal was not being initialized each time we were reloading the partial to retrieve different relationship types.
- So sometimes, if the user did not close the modal, the _causality_type_ parameter was being set as of the previously opened relationship_type.

##### Fix:
- initialize the Modal each time new relationship_type is loaded.

[2012-02-13 21:26] rgoraya opened #39 "Back Button displays page source code"
As reported by: Rene Slykhous
_When using Google chrome on a Mac or a PC, I’ve found when you hit the backpage button. The website can bug and becomes a bunch of code_

[2012-02-13 21:28] rgoraya commented on #39
##### Reason:
- Happens when you bind a jQuery function with an anchor tag with href = "#".
- Firing such a function appends # after the url in the url bar.
- Goind to another page and then hitting back button (after above) results in a bunch of code!

##### Fix:
- Convert those links to divs with cursor:pointer instead

[2012-02-13 21:33] rgoraya commented on #39
Above fix did not work. Behavior continues. Working on it.

[2012-02-13 23:06] rgoraya opened #40 "Wikipedia title case does not match with issue title"
- There are cases when the users hit preview (in create new issue or relationship) box without selecting one of the suggestions.
- For example, if a user types in "deforestation" (all lower case) and hits preview and then save, the title of the newly created issue is saved as "deforestation" (all lower case).
- However, for consistency with Wikipedia (and disallowing duplicates), **we need the tit

[2012-02-13 23:07] rgoraya commented on #40
**Fix:** Pick up the title from the JSON returned by the Media Wiki API instead of the input field

[2012-02-14 01:02] rgoraya opened #41 "Wrong picture"
**As reported by Rene Slykhous:**
- _Incorrect picture on stress (mechanics). It is a picture of a stressed out person. The summary for the article is for stress disambiguated. However when you click on see more on Wikipedia, it takes you to the correct page_
- _Wrong Image for an issue. “Animal” and a few other issues have an incorrect image. See below, the image for animal is Animal from the Mup

[2012-02-14 01:05] joelwross commented on #41
Also "Shearing (physics)", which has unintentionally hilarious meaning given its relationship to stress (see http://thiscausesthat.org/issues/2367-shearing-physics?rel_type=is+a+subset+of&rel_id=3305)

[2012-02-14 01:12] rgoraya commented on #41
Not a bug really :)
We are relying upon Google to get us the best image (who does it better than Google?) if we do not get a relevant image from Wikipedia itself. A possible workaround is to offer options (say 3 top google image results) to choose from.

[2012-02-14 07:16] rgoraya commented on #40
Fixed, closing.

[2012-02-14 07:16] #40 closed, assigned to rgoraya

[2012-02-14 07:16] rgoraya commented on #38
Fixed, closing.

[2012-02-14 07:16] #38 closed, assigned to rgoraya

[2012-02-14 07:17] rgoraya commented on #37
Fixed, closing

[2012-02-14 07:17] #37 closed, assigned to rgoraya

[2012-02-14 07:17] rgoraya commented on #36
Fixed, closing

[2012-02-14 07:17] #36 closed, assigned to rgoraya

[2012-02-14 07:19] rgoraya commented on #41
Introduced the new functionality in the Add New Relationship. Will close this once integrated in Add New Issue page as well. Bringing it down to Low priority.

[2012-02-14 20:46] rgoraya opened #42 "403 forbidden: Suggestions"
- There are times when we encounter **403 forbidden: Permission Error** when accessing Wikipedia page and parsing it to generate suggestions (when adding a new relationship).
- It is a known issue but we do need to address this issue soon as this may affect the system in the long term.
- Also, even if we encounter this problem, can we go ahead and set up the relationship anyway and try to generate

[2012-02-14 20:51] rgoraya commented on #14
This should be addressed by the New layout. Keeping this open until the Correct partial reload problem is fixed (#35)

[2012-02-15 08:52] duyetln commented on #33
Fixed. Code will be updated soon.
The problem is that in the 'getJson' function, in the 'else' clause, Jval is expected to be a html doc object. But due to the way 'JData' is parsed, it's not always the case. Jval could totally be an innocent string which contains parentheses which will cause $(Jval) to fails. This is where the error comes from.

So to fix this, I modified the code a little bit to

[2012-02-15 08:52] #33 closed, assigned to duyetln

[2012-02-15 08:53] duyetln commented on #32
They are the same issue. I'm closing this.

[2012-02-15 08:53] #32 closed, assigned to nobody

[2012-02-15 09:21] rgoraya commented on #33
Great job Duyet!

[2012-02-15 09:21] rgoraya commented on #32
agree.

[2012-02-15 10:30] rgoraya commented on #16
This was fixed recently by Duyet. Closing this.

[2012-02-15 10:30] #16 closed, assigned to nobody

[2012-02-15 10:31] rgoraya commented on #4
I feel this has been addressed in the new layout. Closing the issue for now. Reopen if you feel it persists.

[2012-02-15 10:31] #4 closed, assigned to nobody

[2012-02-15 10:34] rgoraya commented on #7
With the New layout, the user can at a time only see the references for a particular relationship that was selected (clicked on). In other words, the displayed references at a particular time _belong to_ the relationship.
Closing this Issue. Reopen if you feel otherwise.

[2012-02-15 10:34] #7 closed, assigned to nobody

[2012-02-15 11:12] rgoraya commented on #24
**The reason:**
- When we add a new relationship, the system checks whether or not the new node exists as an Issue.
- This check is currently performed based on a **string comparison** of the Wikipedia URLs of existing Issues and this new node.
- Now there was earlier a case when the title of the Newly created Issue was being picked from the query text field **(Not from the Media Wiki response its

[2012-02-15 20:04] joelwross opened #43 "Keyboard interactions with quicksearch"
I keep wanting the quicksearch at the top of the site to respond to the keyboard. So that when I type in "deforest" and "deforestation" is first on the list, I can use the arrow keys to move down to it and hit "enter" to select it. See interaction on Google et al.

[2012-02-15 20:28] rgoraya commented on #43
This has been implemented for addnew http://www.thiscausesthat.org/issues/new
Will get this done for site-wide search too. Thanks for noticing!

[2012-02-15 20:30] rgoraya commented on #25
Working on a similar piece #41. Assigning it to the lad named rgoraya!

[2012-02-15 20:32] rgoraya opened #44 "Nav bar components need to be grouped correctly"
Nav bar components need to be grouped correctly

[2012-02-15 20:33] rgoraya commented on #31
Assigning to @nguyendl

[2012-02-15 20:37] rgoraya opened #45 "Feature request: Sortable Index page"
- Offer various sort criteria to the user (Index page: http://www.thiscausesthat.org/issues)
- Make the interaction AJAX once implemented.
- Assigning it to @DinorahCr

[2012-02-15 21:14] rgoraya commented on #23
Closing this as a duplicate of #41.

[2012-02-15 21:14] #23 closed, assigned to nobody

[2012-02-15 21:38] rgoraya commented on #24
Fixed!

[2012-02-15 21:38] #24 closed, assigned to rgoraya

[2012-02-16 08:47] rgoraya opened #46 "Feature Request: Endorse/Contest"

[2012-02-16 13:11] rgoraya commented on #39
Fixed!

[2012-02-16 13:11] #39 closed, assigned to rgoraya

[2012-02-16 13:11] rgoraya commented on #35
Fixed!

[2012-02-16 13:12] #35 closed, assigned to rgoraya

[2012-02-16 18:07] duyetln commented on #31
Bug # 2 is fixed. I'm working on # 1 (the user page's problem).

[2012-02-16 19:31] duyetln commented on #31
Fixed. Just adjusted a few lines of code.

[2012-02-16 19:32] #31 closed, assigned to duyetln

[2012-02-16 20:45] rgoraya commented on #14
Closing this as #35 is now fixed!

[2012-02-16 20:45] #14 closed, assigned to nobody

[2012-02-17 00:09] duyetln commented on #43
Let me work on this feature. Is it ok?

[2012-02-17 04:07] rgoraya commented on #43
Sure!

[2012-02-17 22:43] rgoraya commented on #41
Fixed this! Image options given on all forms (Add new Issue / Add new Relationship). Edit Image option done through Ajax in the Show page

[2012-02-17 22:43] #41 closed, assigned to rgoraya

[2012-02-17 22:43] rgoraya commented on #25
Fixed this! Image options given on all forms (Add new Issue / Add new Relationship). Edit Image option done through Ajax in the Show page

[2012-02-17 22:43] #25 closed, assigned to rgoraya

[2012-02-17 22:48] rgoraya opened #47 "Feature Request: Show page should be populated with defaults"

[2012-02-18 13:40] rgoraya commented on #34
Fixed! Made it all work through unobtrusive JavaScript

[2012-02-18 13:40] #34 closed, assigned to rgoraya

[2012-02-19 06:06] rgoraya opened #48 "Suggestions Don't Display"
- With the New layout the suggestions do not display.
- This is not a bug but it was kept pending in order to ensure the new layout reaches a more stable state.
- Logging this as an issue now.

[2012-02-19 10:02] dLobatog commented on #48
I'm working on this now

[2012-02-19 12:36] rgoraya commented on #22
Implemented! Closing this.

[2012-02-19 12:36] #22 closed, assigned to rgoraya

[2012-02-19 12:37] rgoraya commented on #48
Are you working on Displaying the suggestions on issue/show page or are you working on generating them in the controller.

[2012-02-19 16:02] dLobatog commented on #48
I'm working on displaying them, they are generated correctly so far, I will make some adjustments to the way they are generated later on.

[2012-02-19 20:04] dLobatog commented on #48
Ok done :) They show up. I have a couple of questions. Since the issue thumbnails are shown according to the issue 'short_url', and suggestions do not have a short_url, I do not have any picture to show for them, what should I show, a question mark maybe?

Then again, what is the interaction supposed to be when the user clicks on a suggestion that has not been accepted yet?
Should it link to the w

[2012-02-19 20:17] rgoraya commented on #48
Good job! I'll soon check them out.

Yes displaying the question mark would be the right way. ( there's one in our images folder that'll do the job)

And the interaction on clicking one of these would be to make the media wiki call (the one we make when we add a new relationship to display the corresponding wikipedia data) and populate the lower half of the page with the data received. I can work

[2012-02-19 23:24] rgoraya commented on #48
Did you check this in? Please let me know so that I can start working on the mediawiki part.

[2012-02-20 02:22] rgoraya commented on #48
Okay, well I cloned your branch and tested this. Somehow, I could not see the suggestions in my quick user testing. Am I missing something here?

[2012-02-20 03:33] dLobatog commented on #48
Oh no no I haven't checked this in yet because I am still finishing it, don't use it yet!

[2012-02-20 19:10] rgoraya opened #49 "User Acitivities page: Nil Object Error"
We are using unobtrusive AJAX calls for deletion of:
- issues
- relationships
- comments
- references

The User page encounters the above error after doing a deletion.

[2012-02-21 05:37] rgoraya commented on #49
I just noticed that the _Reputation::Utils.reputation_ call in the _destroy_ method within the _comments_ and _references_ controller has _:action=>:create_.
Is there a reason why this is so? I was wondering if that needs to be corrected to _:action=>:destroy_.
For now, I have removed paper trail from the _comment_ model and controller as we are not tracking comments when generating _activities_

[2012-02-21 07:13] rgoraya commented on #47
Done. Closing this.

[2012-02-21 07:13] #47 closed, assigned to rgoraya

[2012-02-21 16:00] duyetln commented on #49
I have no idea who put reputation call in comments controller. We don't need it there. About the reference controller, the action should be :action=>:destroy. Probably a typo.

[2012-02-21 16:10] duyetln commented on #49
We still need paper_trail in the comment model because when a relationship is deleted, we would want to keep a "copy" of those comments so that when the same relationship is reverted back to life, those comments will be reverted as well. If we don't use paper trail, all comments will be lost upon relationship deletion.

[2012-02-21 21:12] duyetln commented on #49
Fixed. I added some lines of code to handle Comment-typed versions.

Also, the activity page will show comment activities.

[2012-02-21 21:12] #49 closed, assigned to duyetln

[2012-02-21 21:27] rgoraya commented on #49
Please check this in if you haven't already. Thanks!

On Tue, Feb 21, 2012 at 1:12 PM, nguyendl <
reply@reply.github.com

##

Sincere Thanks!

Goraya Raminder Singh
Bren School of Information and Computer Sciences
University of California, Irvine
Irvine, CA 92697-3425rgoraya@uci.edu

[2012-02-22 00:07] duyetln commented on #43
I have added this functionality to the global issue search box and also disallowed searches with weird values like " " or " d" (which now reduces to empty string and "d" respectively).

[2012-02-22 00:07] #43 closed, assigned to duyetln

[2012-02-22 04:08] dLobatog commented on #48
Well now they are displayed. I will be working on this this week.

Yet to do: Include accept/reject button, pull information on click

[2012-02-22 04:37] rgoraya commented on #48
- Thanks for working on this Daniel.
- I am already working on getting the media wiki information retrieval on the show page (on clicking suggestions). Could you please work on the 403 forbidden we encounter sometimes when we try to generate suggestions?
- I was wondering if we could move the suggestion generation to "Show" action and just check :if there are no suggestions, try to retrieve, and i

[2012-02-23 18:03] joelwross opened #53 "Can't enter a space in the global search bar"
When I try to search for "climate change", the space is removed immediately after I add it so I instead search for "climatechange". Note that I can still add spaces on their own if there is no other content.

[2012-02-23 18:22] duyetln commented on #53
Just an unintended side effect of disallowing keywords that start or end with spaces. Fixed.

[2012-02-24 01:36] dLobatog commented on #42
Question, where is the first place where we find the 403? The javascript retrieving the info from MediaWiki API , the suggestions model or what?

[2012-02-24 03:32] rgoraya commented on #42
This happens in the Suggestions Model Where we use HPRICOT gem to parse the page after buffering it using OpenURI.

On javaScript side it never faces this error because in that case the data comes not by reading in the entire page but by accessing it from MediWiki API. Could we use the same approach on Suggestion model to counter this? That is, instead of using hpricot gem, we find a way to access

[2012-02-24 06:41] duyetln commented on #12
Suggestions are now shown based on relevancy. That is, the system will look for Wikipedia entries that the title or text (or both) contains the search term. This feature is not online yet.

[2012-02-24 06:41] #12 closed, assigned to duyetln

[2012-02-24 06:46] duyetln commented on #42
Daniel, if you need to trace where the 403 starts, look in the error report sent to the bug report email.

Apparently, the error starts at the suggestion model:

 /opt/ruby-enterprise/lib/ruby/1.8/open-uri.rb:277:in `open_http'
 /opt/ruby-enterprise/lib/ruby/1.8/open-uri.rb:616:in`buffer_open'
 /opt/ruby-enterprise/lib/ruby/1.8/open-uri.rb:164:in `open_loop'
 /opt/ruby-enterprise/lib/ruby/1.8/open

[2012-02-24 13:59] rgoraya opened #56 "Adding an existing relationship Shows wrong notice"
For example:
When A exists as a Cause (say) for an issue B and we attempt to Add A again as a Cause, it should error out saying "A already exists as a cause". Instead it says "New cause linked Successfully".
@elobato, this probably comes from line 335 of the issues_controller after the recent code restructuring.

[2012-02-24 14:09] rgoraya opened #57 "Suggestions aren't discarded after getting accepted"
Suggestions currently do not get discarded correctly due to the difference between the suggestion title and the actual wikipedia article title.

This can be fixed by passing the suggestion Id along with the form and updating that suggestion in issues controller itself.

[2012-02-26 13:31] rgoraya commented on #42
403 Forbidden Corrected in the suggestion Model.

[2012-02-26 13:31] #42 closed, assigned to dLobatog

[2012-02-26 13:32] rgoraya commented on #48
Suggestions acceptance/rejection/duplication removal is now fully functional

[2012-02-26 13:32] #48 closed, assigned to dLobatog

[2012-02-26 13:33] rgoraya commented on #57
Passing suggestion ID to issue controller on accept to remove that suggestion from showing.

[2012-02-26 13:33] #57 closed, assigned to rgoraya

[2012-02-26 13:35] rgoraya commented on #56
This was happening due to @nguyendl's changes for checking for existing versions of relationship. We needed to handle the case of existing relationships as default and then the "restored"

[2012-02-26 13:35] #56 closed, assigned to rgoraya

[2012-02-26 13:37] rgoraya opened #59 "Restoring from previous versions of relationships should update the created_at or updated_at field in relationship table"
Restoring from previous versions of relationships should update the created_at or updated_at field in relationship table.
The reason why we need this that on partial reload after the restoration, this new relationship should be shown as first thumbnail for the experience to be seamless.
As of now, since the created_at is old one, it shows as a later thumbnail

[2012-02-27 14:07] rgoraya commented on #46
Votes Feature Implemented. Users can now Endorse/Contest a relationship. This interaction is AJAX and gives real-time feedback on the percentage of endorsers/contesters along with a thumbnail grid of users who contest/endorse the relationship.
Check it out!

[2012-02-27 14:07] #46 closed, assigned to rgoraya

[2012-02-28 06:01] rgoraya opened #61 "Modify: 500, 404, 422 HTMLs"

[2012-02-28 07:03] rgoraya opened #62 "Auto-complete search submits incorrect Get request on production."
Works fine on local host

[2012-02-28 19:33] rgoraya opened #63 "New Interaction for Causal Relationship Creation"

[2012-02-28 20:52] rgoraya commented on #62
Corrected Auto-complete search to use a single form for fetching autocomplete suggestions as well as form submission

[2012-02-28 20:52] #62 closed, assigned to rgoraya

[2012-02-29 22:26] rgoraya commented on #59
Closing this as @nguyendl resolved this and it works fine in the latest version.

[2012-02-29 22:26] #59 closed, assigned to duyetln

[2012-03-01 10:50] rgoraya opened #64 "Make Endorse/Contest/Offensive mutually exclusive"
1. Make Endorse/Contest/Offensive mutually exclusive
2. Owner of relationship automatically endorses

[2012-03-01 18:22] dLobatog commented on #61
I take this

[2012-03-02 08:01] rgoraya opened #67 "Merging Issues"
For example (combustion + Fossil Fuels) is actually responsible for Pollution and not just Fossil Fuel

[2012-03-02 08:03] rgoraya opened #68 "Moving relationships from one relationship_type to another"
- Mechanism to allow users to move relationships from one relationship type to another.
- Having it done via jQuery UI drag and drop would be great but let's not be too hard on ourselves.

[2012-03-02 08:04] rgoraya opened #69 "Add Intermediate causal link"
Enabling users to put in ["Vehicular emissions" -> "Air Pollution" -> "Climate change"] instead of  ["Vehicular emissions" -> "Climate change"]

[2012-03-02 08:04] rgoraya opened #70 "Subscription Model"
Users can subscribe to Issues and receive (email) notifications about the addition/deletion of Relationships and References to these issues.

[2012-03-02 08:05] rgoraya opened #71 "Inheritance of Relationships"
Carry forward Causes/Effects as relationship suggestions for Supersets

[2012-03-02 08:06] rgoraya opened #72 "Correct sorting of relationships"
- Sorting order of relationships based on: Reference_count/Endorsements.
- At the same time, display the latest created relationship first so as to maintain instant feedback on creation.

[2012-03-02 08:06] rgoraya opened #73 "Modification of URL and browser history on remote interactions"

[2012-03-02 09:48] rgoraya opened #74 "Improve Wait feedback - (replace spinners with messages)"

[2012-03-06 08:50] rgoraya commented on #53
Reopening as it still exists on the live version.

[2012-03-07 23:38] rgoraya opened #76 "Display Issue and relationship controls mutually exclusively"
- Display relationship controls only (Delete/Visualize/Permalink/Endorsements) when user clicks on a relationship thumbnail.
- Issue-specific-controls show on page load and on clicking the Issue thumbnail

[2012-03-07 23:38] rgoraya commented on #76
Locally Fixed!

[2012-03-08 11:23] dLobatog commented on #61
I close this as this is already done (it's in my repository so far)

[2012-03-08 11:25] dLobatog commented on #61
I see you want to keep issues open until they live version has them solved. Reopen then until next deploy.

[2012-03-08 13:42] rgoraya commented on #76
Fixed

[2012-03-08 13:42] #76 closed, assigned to rgoraya

[2012-03-09 00:15] dLobatog commented on #74
Remember what we wanted to accomplish on first 'show' of an issue with no suggestions, that is, bringing the layout first and retrieving the suggestions in the background. HTTP streaming makes it possible but not with HAML, only ERB or HTML. Should we leave this as is for now?

https://github.com/nex3/haml/issues/436

[2012-03-09 03:36] rgoraya commented on #74
Hmm, this looks very interesting.
I guess we can leave it as is right now. I have another solution in mind. Will create a separate issue discussing that.

[2012-03-09 03:37] rgoraya commented on #74
Fixed this for the Show page.

[2012-03-09 07:23] #74 closed, assigned to nobody

[2012-03-09 07:27] rgoraya commented on #63
New interaction for Causal relationships creation. The issue creation interaction has been replaced by Relationship creation where the user begins by first creating the starting node and the goes on to add more nodes

[2012-03-09 07:27] #63 closed, assigned to rgoraya

[2012-03-09 07:27] rgoraya commented on #53
Fixed!

[2012-03-09 07:27] #53 closed, assigned to nobody

[2012-03-09 07:28] rgoraya commented on #61
Good work Daniel. This is online now. Closing this.

[2012-03-09 07:28] #61 closed, assigned to dLobatog

[2012-03-16 01:53] rgoraya opened #79 "Relationships Index"
Instead of the Issue index we see, after this issue is closed, the site would have an index of relationships with various sort criteria as implemented by @DinorahCr

[2012-03-16 16:28] rgoraya commented on #70
Detailed description by @badgerProd:
 Add a "Follow" button to every Issue page and every relationship page, which, when clicked, causes the person to get emailed whenever anyone changes anything on the page.  For example, if I am following an issue page, if anyone adds or removes any kind of relationship, I should get an email.  If I am following a relationship, if anyone adds a reference, commen

[2012-03-19 22:01] rgoraya opened #83 "New plan for the personal page"
Documentation of the new plan for the personal page by @badgerProd

Top left: Same as current.

Bottom: Replace with expanded version of what is currently at top right, with the following columns:
"Logo", "My Actions", "Community Acceptance", "Relationship Score", "Date"

Once that is in place, the top right should be replaced with an editable text-entry box for "Bio", editable email address, "Con

[2012-03-25 04:22] dLobatog commented on #45
Shouldn't this be closed? It works and its ajax

[2012-03-25 04:35] rgoraya commented on #45
The version's not online yet. Kept this open because a few more changes
need to be checked in for the same feature.

2012/3/24 Daniel Lobato Garca <
reply@reply.github.com

##

Sincere Thanks!

Goraya Raminder Singh
Bren School of Information and Computer Sciences
University of California, Irvine
Irvine, CA 92697-3425rgoraya@uci.edu

[2012-03-25 05:10] dLobatog opened #84 "Security issue with users"
Given an user id (lets say 1), just putting on the browser /users/1/edit , it will allow you to edit the user information even though you shouldn't be allowed to. I'm going to take care of this now

[2012-03-25 05:35] dLobatog commented on #84
Solved, will close when online.

[2012-03-28 06:50] rgoraya commented on #79
Checked-in. Closing this.

[2012-03-28 06:50] #79 closed, assigned to nobody

[2012-03-28 15:33] rgoraya commented on #73
- In the latest version, the _browser history is updated/logged for AJAX interactions_ on Issue Show page, Relationship Index and Issue Index (for all Ajax interactions)
- With this implementation, every interaction on the Issue Show page becomes _uniquely accessible_ and the granularity of (say) Deforestation page becomes:
  Issue with all 6 relationship types unexpanded ->
  Issue One of the six

[2012-03-28 15:33] #73 closed, assigned to nobody

[2012-03-28 15:42] rgoraya commented on #72
Linkout to particular Relationship from relationship Index - System detects the pagination page number to open the correct set of thumbnails including the relationship ID that was requested

[2012-03-28 15:42] #72 closed, assigned to nobody

[2012-04-02 20:38] dLobatog opened #91 "Suggestions are never retrieved"
Don't know why, but suggestions should be retrieved on first load of an issue. This was working before but some recent pull request has broken this completely. I guess this has something to deal with the new relationships controller/model.

I take care of this.

[2012-04-02 22:48] rgoraya commented on #91
Daniel,

relationship controller/model does absolutely nothing to the suggestions.
And it is not a new functionality. It has been around from the very
beginning. All the relationships we see on the Issue show page
are retrieved based on this controller.

I did a quick investigation and as expected, on the first load, the control
goes inside the IF structure at line 47 of the issue controller and c

[2012-04-02 22:54] dLobatog commented on #91
Hmmm I thought that it might had to do with the relationships controller because now the index page is all about it and I thought that maybe the issues were created from the suggestions controller instead of creating them from the Issues controller.

Since the suggestions controller/model haven't changed at all, do you have any clue why this is happening?

[2012-04-02 22:57] rgoraya commented on #91
I would wait for a day as it might be happening because of 403 error. Or
you could test it by removing the begin-rescue clause.

2012/4/2 Daniel Lobato Garca <
reply@reply.github.com

##

Sincere Thanks!

Goraya Raminder Singh
Bren School of Information and Computer Sciences
University of California, Irvine
Irvine, CA 92697-3425rgoraya@uci.edu